body {
    background-color: #F3F3F3;
}
header {
    background-color: #FFFFFF;
    width: 375px;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0px;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
header ion-icon {
    font-size: 42px;
}
footer {
    background-color: #FFFFFF;
    width: 375px;
    height: 80px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
footer input {
    width: 100%;
    font-family: Roboto;
    font-size: 18px;
    color: #000000;
    border: none;
}
footer ion-icon {
    font-size: 26px;
}
.mensagens {
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.status {
    background-color: #DCDCDC;
}
.message {
    background-color: #FFFFFF;
}
.private_message {
    background-color: #FFDEDE;
}
.conteudo {
    width: 375px;
    padding-top: 85px;
    padding-bottom: 80px;
    box-sizing: border-box;
}
strong {
    color: #AAAAAA;
}